.classes-list {
    margin: 1rem 0 1rem 0;
    padding: 0;
    list-style-type: none;
}

.classes-list li {
    margin: 0;
    padding: 0;
}

.classes-title {
    font-size: 1.3em;
    margin: 8px 8px 8px 0;
    font-weight: bold;
}

.participants-list {
    margin: 8px 8px 8px 0;
    padding: 0;
}

.participants-list > li {
    display: inline-block;
    padding: 0 0 0 0px;
    margin-right: 10px;
    background-color: rgba(0, 145, 255, 0.25);
    border-radius: 8px;
}